@model ComplexCommerce.Business.IProduct

@{
    ViewBag.Title = Model.Name;
    ViewBag.MetaKeywords = Model.MetaKeywords;
    ViewBag.MetaDescription = Model.MetaDescription;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<fieldset>
    <legend>IProduct</legend>

    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SKU)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SKU)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
<div>
    @if (Model.Categories.Count >  0)
    {
        <ul>
        @foreach (var category in Model.Categories)
        {
            <li>@Html.MvcSiteMap().SiteMapPath(null, category.PageId.ToString())</li>
        }
        </ul>
    }
</div>

