@model ComplexCommerce.Business.Category

@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaKeywords = Model.MetaKeywords;
    ViewBag.MetaDescription = Model.MetaDescription;
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<fieldset>
    <legend>Category</legend>

    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    @foreach (var product in Model.Products)
    {
        <ul id="product-list">
            <a href="@Url.Action("Details", "Product", new { id = product.CategoryXProductXTenantLocaleId })">
                <img alt="@product.Name" src="@product.ImageUrl" />
                <div>@product.Name</div>
                <div>@product.SKU</div>
                <div>@string.Format("{0:F}", product.Price)</div>
            </a>

        </ul>
    }
</fieldset>

