@model ComplexCommerce.Models.HomeViewModel
@{
    ViewBag.Title = this.T("Title");
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@this.T("Message")</h2>
            </hgroup>
            <p>
                @this.T("To_Learn_More", "http://asp.net/mvc", "http://forums.asp.net/1146.aspx/1?MVC")
            </p>
        </div>
    </section>
}
<h3>@this.T("We_Suggest")</h3>
<ol class="round">
    <li class="one">
        <h5>@this.T("Getting_Started_Header")</h5>
        @this.T("Getting_Started")
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">@this.T("Learn_More")</a>
    </li>

    <li class="two">
        <h5>@this.T("Add_Nuget_Header")</h5>
        @this.T("Add_Nuget")
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">@this.T("Learn_More")</a>
    </li>

    <li class="three">
        <h5>@this.T("Find_Hosting_Header")</h5>
        @this.T("Find_Hosting")
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">@this.T("Learn_More")</a>
    </li>
</ol>

<h3>@this.T("Test")</h3>
@using (Html.BeginForm())
{
    

    <p>
        @Html.LabelFor(x => x.Name)
        @Html.EditorFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </p>
    <p>
        @Html.LabelFor(x => x.Age)
        @Html.EditorFor(x => x.Age)
        @Html.ValidationMessageFor(x => x.Age)
    </p>
    <p>
        @Html.LabelFor(x => x.Password1)
        @Html.EditorFor(x => x.Password1)
        @Html.ValidationMessageFor(x => x.Password1)
        @Html.LabelFor(x => x.Password2)
        @Html.EditorFor(x => x.Password2)
        @Html.ValidationMessageFor(x => x.Password2)

    </p>
    <input type="submit" />
}