@if (Request.IsAuthenticated) {
    <text>
        @this.T("Hello") @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = this.T("Manage").ToString() })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">@this.T("Log_Off")</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink(this.T("Register").ToString(), "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(this.T("Log_In").ToString(), "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
